@font-face {
    font-family: "Lato-Regular";
    src: url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.otf') format('otf'), url('../fonts/Lato-Regular.ttf') format('ttf'); 
}

@font-face {
    font-family: "Lato-Light";
    src: url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.otf') format('otf'), url('../fonts/Lato-Light.ttf') format('ttf'); 
}

@font-face {
    font-family: "Lato-Semibold";
    src: url('../fonts/Lato-Semibold.woff') format('woff'), url('../fonts/Lato-Semibold.otf') format('otf'), url('../fonts/Lato-Semibold.ttf') format('ttf'); 
}

@font-face {
    font-family: "Lato-Bold";
    src: url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.otf') format('otf'), url('../fonts/Lato-Bold.ttf') format('ttf'); 
}

@font-face {
    font-family: "Lato-Black";
    src: url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.otf') format('otf'), url('../fonts/Lato-Black.ttf') format('ttf'); 
}

@font-face {
    font-family: "GalanoGrotesque-Light";
    src: url('../fonts/GalanoGrotesque-Light.woff') format('woff'), url('../fonts/GalanoGrotesque-Light.otf') format('otf'), url('../fonts/GalanoGrotesque-Light.ttf') format('ttf'); 
}

@font-face {
    font-family: "GalanoGrotesque-Regular";
    src: url('../fonts/GalanoGrotesque-Regular.woff') format('woff'), url('../fonts/GalanoGrotesque-Regular.otf') format('otf'), url('../fonts/GalanoGrotesque-Regular.ttf') format('ttf'); 
}

@font-face {
    font-family: "GalanoGrotesque-SemiBold";
    src: url('../fonts/GalanoGrotesque-SemiBold.woff') format('woff'), url('../fonts/GalanoGrotesque-SemiBold.otf') format('otf'), url('../fonts/GalanoGrotesque-SemiBold.ttf') format('ttf'); 
}

@font-face {
    font-family: "GalanoGrotesque-Bold";
    src: url('../fonts/GalanoGrotesque-Bold.woff') format('woff'), url('../fonts/GalanoGrotesque-Bold.otf') format('otf'), url('../fonts/GalanoGrotesque-Bold.ttf') format('ttf'); 
}


*
{margin:0px;padding:0px; font-family: "Lato-Regular"; color:#545454; font-size:16px;}
h1{font-size: 50px; color: #000; font-family: "GalanoGrotesque-SemiBold"; line-height: 65px;}
h2{font-size: 34px; color: #000; font-family: "GalanoGrotesque-SemiBold"; line-height: 45px; margin:0px;}
ul{margin-bottom:0px;padding-left:0px;}
p{font-size:16px; line-height:26px; color:#545454; font-family: "Lato-Regular"; margin-bottom:15px;}
button{transition: all 0.5s; -webkit-transition: all 0.5s; -ms-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
button:focus{outline:none !important; box-shadow:none !important;}
input:focus{outline:none !important; box-shadow:none !important;}
select{ font-size:16px !important; box-shadow: none !important;}
select:focus{outline:none !important; box-shadow:none !important;}
textarea:focus{outline:none !important; box-shadow:none !important;}
a{text-decoration:none !important;}
a:hover{ color:#cfa048 !important; transition: all 0.5s; -webkit-transition: all 0.5s; -ms-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.container{width:1200px;margin:0 auto;}


/******************************************* Header Section *************************************/
.hp-header { display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; justify-content: space-between; align-items: center; padding:15px 0px;}
.hp-header .wholesale { max-width: 115px; width: 100%;}
.hp-header .wholesale .form-group select { padding: 0px; line-height: normal; border: none; border-radius: 0px; box-shadow: none; height: auto; font-family: "Lato-Semibold" !important;}
.hp-header .wholesale .form-group{ margin-bottom:0px;}
.hp-header .co-logo { max-width: 200px; width: 100%; text-align: center;}
.hp-header .country-bx { max-width: 251px; width: 100%;}
.hp-header .country-bx ul{ list-style:none;}
.hp-header .country-bx ul li{ display:inline-block; padding:0px 10px;}
.hp-header .country-bx ul li:last-child{ padding-right:0px;}
.hp-header .country-bx ul li select { padding: 0px; line-height: normal; border: none; border-radius: 0px; box-shadow: none; height: auto;font-family: "Lato-Semibold" !important;}
.hp-header .form-group{ margin-bottom:0px;}

.header-bottom { border-top: solid 1px #e1e1e1; padding: 15px 0px; border-bottom: solid 1px #f8f8f8;}
.hp-navigation{ display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items: center;}
.hp-navigation .nav { width: 65%;}
.hp-navigation .nav ul{ list-style:none;}
.hp-navigation .nav ul li { display: inline-block; padding-right: 15px;}
.hp-navigation .nav ul li:last-child{ padding-right:0px;}
.hp-navigation .nav ul li a{ text-transform:uppercase; color:#545454; font-family: "Lato-Semibold";}
.hp-navigation .nav-right { width: 35%; text-align: right;}
.hp-navigation .nav-right ul{ list-style:none;}
.hp-navigation .nav-right ul li { display: inline-block; padding-right: 15px;}
.hp-navigation .nav-right ul li:last-child{ padding-right:0px;}
.hp-navigation .nav-right ul li a{ text-transform:uppercase; color:#545454;font-family: "Lato-Semibold";}
header.fixed1.fixed .header-bottom { position: fixed; top: 0px; width: 100%; z-index: 1; background-color: #fff; border-top: 0px;}
header.fixed1.fixed+main{ padding-top:55px;}

/******************************************* Header Section *************************************/


/******************************************* Slider Section *************************************/
.slid-bx { position: relative;}
.slid-bx .slid-content { position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);}
.slid-bx .slid-content h1 { margin: 0px 0px 20px;}
.slid-bx .slid-content p{ font-size:20px; font-family: "GalanoGrotesque-Light";}
.slid-bx .slid-content a.buy-now-btn { background-color: #d19f4a; border:solid 1px #d19f4a; max-width: 150px; width: 100%; display: inline-block; text-align: center; height: 40px; line-height: 30px; font-size: 18px; color: #fff; letter-spacing: 2px; font-family: "GalanoGrotesque-Light"; margin-top: 10px; border-radius: 4px;}
.slid-bx .slid-content a.buy-now-btn:hover{ background-color:transparent; color: #d19f4a; border:solid 1px #d19f4a;}
.mainCarousel .slick-dots { bottom: 25px;}
.mainCarousel .slick-dots li{ width: 18px; height: 18px;}
.mainCarousel .slick-dots li button { background-color: #000; border-radius: 50%; width: 18px; height: 18px; border: solid 6px #000;}
.mainCarousel .slick-dots li.slick-active button{ border: solid 6px #d19f4a;}
.mainCarousel.slick-dotted.slick-slider{ margin-bottom:0px !important;}
/******************************************* Slider Section *************************************/
.category-slider { margin: 0px -0px;}
.category-product { margin: 50px 0px; position: relative;}
.category-product .view-btn { position: absolute; top: 8px; right: 0px;}
.category-product .view-btn a{ text-transform:uppercase; color:#000; font-size:18px;}
.category-slid-bx{ padding-top:35px;}
.category-slider .slick-slide{ margin:0px 0px;}
.category-slider .slick-slide .product-bx{ padding: 0px 15px; box-sizing: border-box;}
.category-slider .slick-slide:focus{ outline:none;}
.category-slider .slick-list { padding: 0px !important; max-height: 430px; height: 100%;}
.product-bx .product-figure { border: solid 1px #f7f7f7; position:relative;}
.product-bx .product-figure .buy-now { position: absolute; background: rgb(45 45 45 / 65%); width: 100%; height: 100%; opacity: 0; top: 0px; text-align: center; display: flex;
    display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items: center; justify-content: center;}
.product-bx .product-figure .buy-now a{  background-color: #d19f4a; border: solid 1px #d19f4a; max-width: 150px; width: 100%; display: inline-block; text-align: center; height: 40px;
    line-height: 30px; font-size: 18px; color: #fff; letter-spacing: 2px; font-family: "GalanoGrotesque-Light";border-radius: 4px;}
.product-bx .product-figure .buy-now a:hover{ background-color:#fff; color: #000; border:solid 1px #fff;}
.product-bx .product-figure:hover .buy-now { opacity: 1;}
.product-bx .product-figure img{ width:100%;}
.product-figcaption { padding-top: 10px;}
.product-figcaption h4.pro-title { text-align: center; color: #676767; font-family: "Lato-Bold"; margin: 0px; font-size: 16px;}
.price-bx {display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items: center;padding:15px 0px;}
.price-bx .pro-price { width: 50%; text-align:left; color:#000; font-family: "Lato-Bold";}
.price-bx .qty { width: 50%; text-align:right;}
.price-bx .qty .qty-click { float: right;}
.product-figcaption a.add-cart {background-color: #d19f4a; border: solid 1px #d19f4a; width: 100%; display: inline-block; text-align: center; height: 36px; line-height: 28px; font-size: 16px; color: #fff; letter-spacing: 2px; font-family: "GalanoGrotesque-Light";}
.product-figcaption a.add-cart:hover{ background-color:transparent; color: #d19f4a; border:solid 1px #d19f4a;}
.category-slid-bx .category-slider .slick-prev { left: 0px; z-index:9;}
.category-slid-bx .category-slider .slick-prev:before{ display:none;}
.category-slid-bx .category-slider .slick-prev:after { content: ''; background-image: url(../img/left-arrow.png); background-repeat: no-repeat; width: 20px; height: 20px; display: block; background-position: center;}
.category-slid-bx .category-slider .slick-next { right: 0px; z-index:9;}
.category-slid-bx .category-slider .slick-next:before{ display:none;}
.category-slid-bx .category-slider .slick-next:after { content: ''; background-image: url(../img/right-arrow.png); background-repeat: no-repeat; width: 20px; height: 20px; display: block; background-position: center;}
.conllection-wrap img{ width:100%;}

.newsletters-wrap { padding: 35px 0px; border-top: solid 1px #ececec;}
.newsletters { display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items: center;}
.newsletters .newsletters-logo{ width:30%;}
.newsletters .newsletters-form { width: 65%; text-align: right; padding-left:50px; float: right;}
.newsletters .newsletters-form form { max-width: 450px; width: 100%; float: right;}
.newsletters .newsletters-form form .form-group{ margin-bottom:0px; position:relative;}
.newsletters .newsletters-form form .form-group input { width: 100%; background-color: #fff; border: solid 1px #e6e6e6; height: 46px; padding: 0px 150px 0px 15px;    box-sizing: border-box;}
.newsletters .newsletters-form form .form-group button.bubscribe-btn { background-color: #d19f4a; border: solid 2px #d19f4a !important; border: none; color: #fff; max-width: 140px; width: 100%; height: 45px; line-height: 45px; text-transform: uppercase; position: absolute; top: 0px; right: 0px;    font-size: 18px;}
.newsletters .newsletters-form form .form-group button.bubscribe-btn:hover{  background-color: transparent; border: solid 2px #d19f4a !important; color:#d19f4a;}

.category-wrap { padding: 50px 0px;}
.category-wrap h2{ text-align:center; margin-bottom:15px; color:#666666; font-size:50px; font-family: "Lato-Regular";}
.category-wrap p{ font-size:20px; text-align:center;  color:#666666;}
.category-result { padding: 25px 0px 50px; border-top: solid 1px #f8f8f8; margin-top: 35px; display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items: center; justify-content:space-between;}
.category-result .all-cat-result{ width:auto; font-size: 18px;}
.category-result .sortby-bx{ width:auto;}
.category-result .sortby-bx select.form-control { padding: 0px 10px 0px 0px; border: 0px; box-shadow: none; font-size: 18px;}
.product-category ul{ list-style:none; display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%;}
.product-category ul li{ width:23%; margin-bottom:25px;}
.product-category ul li:nth-child(4n+2){ margin:0px 19px 25px 28px;}
.product-category ul li:nth-child(4n+3){ margin:0px 28px 25px 18px;}


.pro-product-bx{ display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; padding-top: 50px;}
.pro-product-bx .product-gallery{ width:50%; padding-right:30px;    box-sizing: border-box;}
.pro-product-bx .product-gallery .product-figure { border: solid 1px #ececec; margin-bottom: 20px;}
.pro-product-bx .product-gallery .product-figure img{ width:100%;}

.product-mini-slid .mini-slider .slick-list{ padding:0px !important;}
.product-mini-slid .mini-slider .slick-list .slick-slide { margin-right:5px; border: solid 1px #ececec; }
.product-mini-slid .mini-slider .slick-list .slick-slide .thumb-bx img{ width:100%;}

.pro-product-bx .product-info-main{ width:50%; padding-left:30px;    box-sizing: border-box;}
.pro-product-bx .product-info-main h3 { margin: 0px; font-size: 28px;}
.pro-product-bx .product-info-main strong{font-family: "Lato-Bold"; font-size:24px; color:#000; margin:25px 0px; display:block;}
.metal-select { margin-bottom: 25px;}
.metal-select label { font-weight: unset; font-size: 20px;}
.metal-select select { padding: 0px 10px; height: 45px; border-radius: 0px; border: solid 1px #ececec;}
.pro-qty label { font-weight: unset; font-size: 20px; display: block;}
.pro-qty .qty-click button[type="button"] { width: 50px; height: 50px; font-size: 27px;}
.pro-qty .qty-click .count { width: 70px; height: 50px; font-size: 24px;}
.pro-buy-btn { margin: 25px 0px;}
.pro-buy-btn button.pro-buy { background-color: #d19f4a; border: solid 1px #d19f4a; max-width: 160px; width: 100%; display: inline-block; text-align: center; height: 44px; line-height: 20px; font-size: 20px; color: #fff; letter-spacing: 2px; font-family: "GalanoGrotesque-Light"; text-transform: uppercase; padding-bottom: 7px; margin-right:5px;}
.pro-buy-btn button.pro-buy:hover{ background-color:transparent; border: solid 1px #d19f4a; color:#d19f4a;}
.pro-buy-btn a.wishlist { width: 45px; height: 44px; line-height: 50px; text-align: center; display: inline-block; vertical-align: top; border: solid 1px #ececec;}
.pro-buy-btn a.wishlist i{ font-size:24px; color:#ececec;}
.pro-buy-btn a.wishlist:hover{ background-color:#d19f4a; border: solid 1px #d19f4a;}
.pro-buy-btn a.wishlist:hover i{ color:#fff;}
.share-icon-bx ul{ list-style:none;  display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items:center;}
.share-icon-bx ul li{ padding-right:15px; font-family: "Lato-Bold"; font-size:20px; color:#000;}
.share-icon-bx ul li a i{ font-size:20px; color:#000;}
.share-icon-bx ul li a:hover i{ color:#d19f4a;}
.product-like { padding: 50px 0px; border-top: solid 1px #f8f8f8; border-bottom: solid 1px #f8f8f8; margin-top: 70px;}
.product-like h3 { margin: 0px 0px 35px; text-align: center; color: #000; text-transform: uppercase; font-size: 42px;}
.inner-pro-row{ display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; padding:50px 0px;}
.inner-pro-col{ width:32%; text-align:center; padding:0px 25px;    box-sizing: border-box;}
.inner-pro-col:nth-child(3n+2){ margin:0px 2%;}
.inner-pro-col h5 { color: #656766; font-family: "Lato-Bold"; font-size: 20px; margin: 25px 0px;}
.inner-pro-col a{ color:#000;}
.mj-cart-wrap{ border-top: solid 1px #ececec;}
.mj-cart-wrap .cart-row{ display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%;}
.cart-row .cart-left-col{ width:50%; border-right: solid 1px #ececec; padding: 50px 50px 50px 0px;    box-sizing: border-box;}
.pro-cart-table { width: 100%;}
.pro-cart-table tbody tr td{ vertical-align:top;}
.pro-cart-table tbody tr td img{border: solid 1px #ebebeb;}
.pro-cart-table tr td .pro-cart-name h4 { margin: 0px 0px 5px; font-size: 16px;}
.pro-cart-table tr td .pro-cart-name p{ font-family: "Lato-Bold"; color:#000;}
.pro-cart-table tr td .cart-qty{ margin-bottom:25px;}
.pro-cart-table tr td .cart-qty h5{ margin-top:0px;}
.pro-cart-table tbody tr td a i{ font-size: 26px; color: #e7e7e7;}
.pro-cart-table tbody tr td a:hover i{ color: #cf9f4a;}
.pro-cart-table tbody tr td:nth-child(1){ width:20%; }
.pro-cart-table tbody tr td:nth-child(2){ width:70%; padding-left:20px;}
.pro-cart-table tbody tr td:nth-child(3){ width:10%; vertical-align: bottom; padding-bottom: 25px;}
.cart-row .cart-right-col{ width:50%; padding: 50px 0px 50px 50px;    box-sizing: border-box;}
.mj-cart-wrap .cart-row h2 { margin-bottom: 15px; font-family: "Lato-Semibold"; font-size: 26px;}
.cart-right-col .coupon-bx { margin-bottom: 50px;}
.cart-right-col .coupon-bx .form-group{ margin-bottom:0px; position:relative;}
.cart-right-col .coupon-bx .form-group input{ width: 100%; padding: 0px 130px 0px 10px; height: 44px; border-radius: 0px; border: solid 1px #ececec; color:#545454;    box-sizing: border-box;}
.cart-right-col .coupon-bx .form-group .apply-btn{ max-width: 120px; width: 100%; display: block; height: 44px; border-radius: 0px; border: solid 2px #cf9f4a; color: #cf9f4a; background-color: #fff; letter-spacing: 2px;font-family: "GalanoGrotesque-Light"; text-transform: uppercase; padding-bottom: 6px; font-size: 20px; position: absolute; top: 0px; right: 0px;}
.cart-right-col .coupon-bx .form-group .apply-btn:hover{  background-color: #cf9f4a; border: solid 2px #cf9f4a; color:#fff;}
.cart-summary .summarytable{ width:100%;}
.cart-summary .summarytable tbody tr td{ font-size: 18px; padding:5px 0px}
.cart-summary .summarytable tbody tr td:nth-child(1), .cart-summary .summarytable tfoot tr td:nth-child(1){ width:50%;}
.cart-summary .summarytable tbody tr td:nth-child(2), .cart-summary .summarytable tfoot tr td:nth-child(2){ width:50%; text-align:right;}
.cart-summary .summarytable tfoot tr td{ font-family: "Lato-Semibold"; font-size: 18px; padding:5px 0px; color:#000;}
.cart-summary .checout-btn { text-align: center; padding-top: 35px;}
.cart-summary .checout-btn button{ max-width: 350px; width: 100%; display: block; height: 44px; border-radius: 0px; border: solid 2px #cf9f4a; color: #ffffff; background-color: #cf9f4a; letter-spacing: 6px; font-family: "GalanoGrotesque-Light"; text-transform: uppercase; padding-bottom: 6px; font-size: 20px; margin: 0 auto;}
.cart-summary .checout-btn button:hover{ border: solid 2px #cf9f4a; color: #cf9f4a; background-color: transparent;}
.cart-right-col .coupon-bx .form-group input::placeholder { color: #ececec;}
.cart-right-col .coupon-bx .form-group input:-ms-input-placeholder { color: #ececec;}
.cart-right-col .coupon-bx .form-group input::-ms-input-placeholder { color: #ececec;}

.checkout-row h2 { margin-bottom: 15px; font-family: "Lato-Semibold"; font-size: 26px;}
.checkout-row { display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%;}
.checkout-row .checkout-left-col { width: 50%; border-right: solid 1px #ececec; padding: 50px 50px 50px 0px; box-sizing: border-box;}
.checout-info ul { list-style: none; padding: 8px 20px; border: solid 1px #ebebeb; border-radius: 5px;}
.checout-info ul li{ display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items:center; border-bottom:solid 1px #ebebeb; line-height:44px;}
.checout-info ul li:last-child{ border-bottom:0px;}
.checout-info ul li .check-name { width: 25%; font-family: "Lato-Bold";}
.checout-info ul li .check-mail { width: 55%;}
.checout-info ul li .check-edit { width: 20%; text-align:right;}
.checout-info ul li .check-edit a{ color: #d29e4a;}
.checkout-row .checkout-right-col { width: 50%; padding: 50px 0px 50px 50px; box-sizing: border-box;}
.checkout-row .checkout-right-col .cart-summary { padding-top: 35px;}
.payment-wrap { padding-top: 50px;}

.payment-wrap .payment-detail { padding: 25px; border: solid 1px #ebebeb; border-radius: 5px;}
.payment-wrap .payment-detail ul{ list-style:none;}
.payment-wrap .payment-detail ul li { border-bottom: solid 1px #ebebeb; padding-bottom: 0px; margin-bottom: 15px; line-height: normal;}
.payment-wrap .payment-detail ul li:last-child{ margin-bottom:0px; padding-bottom:0px; border-bottom:0px;}
.payment-wrap .payment-detail ul li label.click-redio { font-weight: normal; font-size: 18px; padding-left: 50px; line-height: 26px; margin-bottom: 15px;}
.payment-detail ul li .click-redio { display: block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.payment-detail ul li .click-redio input { position: absolute; opacity: 0; cursor: pointer;}
.payment-detail ul li .checkmark { position: absolute; top: 2px; left: 0;  height: 20px; width: 20px; background-color: #d19f48; border-radius: 50%;}
.payment-detail ul li .checkmark:before { content: ''; top: 5px; left: 5px; width: 10px; height: 10px; border-radius: 50%; background: #fff; display: inline-block; position: absolute;}
.payment-detail ul li .click-redio input:checked ~ .checkmark { background-color: #d29e4a;}
.payment-detail ul li .checkmark:after { content: ""; position: absolute; display: none;}
.payment-detail ul li .click-redio input:checked ~ .checkmark:after { display: block;}
.payment-detail ul li .click-redio .checkmark:after { top: 5px; left: 5px; width: 10px; height: 10px; border-radius: 50%; background: #000;}

.payment-wrap .payment-detail .payment-form { padding: 40px 0px 15px  50px; display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%;    box-sizing: border-box;}
.payment-wrap .payment-detail .payment-form .form-group label { margin: 0px; position: absolute; top: -10px; left: 25px; background-color: #fff; padding: 0px 10px; color:#000;    font-weight: normal; font-family: "Lato-Semibold";}
.payment-wrap .payment-detail .payment-form .form-group { margin-bottom: 35px; position: relative;}
.payment-wrap .payment-detail .payment-form .form-group.card-bx{ width:100%;}
.payment-wrap .payment-detail .payment-form .form-group input { width: 100%; border: solid 1px #ebebeb; height: 44px; padding: 0px 15px; border-radius: 0px; background-color: #fff;    box-sizing: border-box;}
.payment-wrap .payment-detail .payment-form .form-group.col:nth-child(2){ margin:0px 2% 0px 0px; width: 40%;}
.payment-wrap .payment-detail .payment-form .form-group.col:nth-child(3){ margin:0px 0px 0px 2%; width: 56%;}
.payment-wrap .payment-detail .payment-form .form-group input::-webkit-outer-spin-button,
.payment-wrap .payment-detail .payment-form .form-group input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
.payment-wrap .payment-detail .payment-form .form-group input[type=number] { -moz-appearance: textfield;}

.payment-wrap .place-order { padding-top: 35px;}
.payment-wrap .place-order button.order-btn { max-width: 280px; width: 100%; display: block; height: 44px; border-radius: 0px; border: solid 2px #cf9f4a; color: #ffffff; background-color: #cf9f4a; letter-spacing: 4px; font-family: "GalanoGrotesque-Light"; text-transform: uppercase; padding-bottom: 6px; font-size: 20px; float: right;}
.payment-wrap .place-order button.order-btn:hover{ border: solid 2px #cf9f4a; color: #cf9f4a; background-color: transparent;}

.qty-click { display: flex; align-items: center;}
.qty-click .count { width: 40px; text-align: center; height: 30px; border-radius: 0px; border: solid 1px #ebebeb; font-size: 16px; background-color:#fff;}
.qty-click button[type="button"] { width: 25px; text-align: center; height: 30px; border-radius: 0px; border: solid 1px #ebebeb; font-size: 16px; background-color:#fff; margin: 0px -1px;}
.qty-click button[type="button"]:hover { border: solid 1px #d19f48; background-color: #d19f48; color: #fff;}

/******************************************* Footer Section *************************************/
.social-media-wrap { padding: 35px 0px; border-top: solid 1px #ececec; border-bottom: solid 1px #ececec; text-align: center;}
.social-media-row ul{ list-style:none;}
.social-media-row ul li{ display:inline-block;}
.social-media-row ul li a { width: 45px; height: 45px; display: inline-block; line-height: 48px; border: solid 1px #ebebeb; margin: 0px 3px;}
.social-media-row ul li a i{ font-size:20px; color:#656565;}
.social-media-row ul li a:hover{ background-color:#d6a85c; border: solid 1px #d6a85c;}
.social-media-row ul li a:hover i{ color:#fff;}
.copyright-wrap { display: flex; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flex; flex-flow: wrap; width: 100%; align-items: center; padding:15px 0px;}
.copyright-wrap .copyright-left{ width:50%;}
.copyright-wrap .copyright-right{ width:50%; text-align:right;}
.copyright-wrap p{ margin-bottom:0px;}
.copyright-wrap .copyright-right p a{ color: #545454;}
/******************************************* Footer Section *************************************/





/******************************************* Responsive CSS *************************************/

@media only screen and (max-width: 1366px)
{
	.container{width:1170px;}
	
}

@media only screen and (max-width: 1199px)
{
	.container{width:970px;}
	
}

@media only screen and (max-width: 991px)
{
	.container{width:750px;}
	
}


@media only screen and (max-width: 767px)
{
	.container{width:100%; padding:0px 15px;}
	
}
.header{width: 100%;color: white;background-color: black;height: 25px;padding-top: 0%;}